.viewproduct{
    width: 100%;
    min-height: calc(100vh - 90px);
    background-image: linear-gradient(cyan,black,magenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.viewproduct__inner{
    width: 100%;
    height: auto;
}
 @media screen and (min-width:62em) {
    .viewproduct{
        height: auto;
    }
    .viewproduct__inner{
        width: 60%;
    }
} 
.viewproduct--blur{
    filter: blur(1rem);
    pointer-events: none;
}
.viewproduct__closec{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.viewproduct__closec button{
    width: 140px;
    height: 30px;
    border: none;
    background-color: var(--softred);
    border-radius: 1rem;
    cursor: pointer;
    color: white;
}
.viewproduct__content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewproduct__content > h2{
    text-align: center;
    color: white;
}
.viewproduct__image{
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.viewproduct__settings{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}
@media screen and (min-width:48em) {
    .viewproduct__settings{
        justify-content: space-evenly;
    }
}
.viewproduct__settings > p{
    color: white;
}
.viewproduct__text{
    text-align: justify;
    padding: 0.8rem;
    color: white;
    font-size: 1.1rem;
}
.viewproduct__buybtn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 1rem;
    background-color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.viewproduct__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width:62em) {
    .viewproduct__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }
}

/**********modal******************/
.viewproduct__modal{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__content{
    width: 300px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__content > h3{
    text-align: center;
    padding: 0.5rem;
}
.modal__qty{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__qty > input{
    width: 70px;
    height: 35px;
    background-color: grey;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}
.modal__qty button{
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--softred);
    cursor: pointer;
}
.viewproductmodal__btn{
    width: 120px;
    height: 30px;
    background-color: var(--cyan);
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    margin: 0.5rem;
}
/*****************loader****************/
.viewproduct__loader{
    width: 100%;
    max-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vploader {
  width: 120px;
  height: 120px;
  border: 2px solid #f80404;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.vploader::after,
.vploader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #0e0d0d;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.vploader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 